<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.somnus.baselibrary"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name=".BaseAppContext"
                 android:supportsRtl="true"
    >

        <activity android:name=".SchameFilterActivity">
            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.somnus.com"
                    android:scheme="arouter"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
